<a href="https://colab.research.google.com/github/willydata/Regresion-lineal-para-prediccion-de-precios-de-acciones/blob/main/Stock_Price_Prediction_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
import requests

download_url = "https://query1.finance.yahoo.com/v7/finance/download/GOOG?period1=1461542400&period2=1619308800&interval=1d&events=history&includeAdjustedClose=true"
target_csv_path = "Googl.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [3]:
df = pd.read_csv("Googl.csv")
df.tail()

            Date         Open         High  ...        Close    Adj Close   Volume
1254  2021-04-19  2291.979980  2318.449951  ...  2302.399902  2302.399902  1234400
1255  2021-04-20  2307.889893  2309.600098  ...  2293.629883  2293.629883  1088700
1256  2021-04-21  2285.250000  2295.320068  ...  2293.290039  2293.290039  1196500
1257  2021-04-22  2293.229980  2303.761963  ...  2267.919922  2267.919922  1054800
1258  2021-04-23  2283.469971  2325.820068  ...  2315.300049  2315.300049  1433500

[5 rows x 7 columns]

In [4]:
def prepare_data(df,pred_col,pred_num,test_size):
  label = df[pred_col].shift(-pred_num)
  x = np.array(df[[pred_col]])
  x = preprocessing.scale(x)
  x_lately = x[-pred_num:]
  x = x[:-pred_num]
  label.dropna(inplace=True)
  y = np.array(label)
  x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=test_size,random_state=0)
  response = [x_train,x_test,y_train,y_test,x_lately]
  return response

In [5]:
pred_col = 'Close'
pred_num = 5
test_size = 0.3

In [6]:
x_train, x_test, y_train, y_test, x_lately = prepare_data(df,pred_col,pred_num,test_size)

In [7]:
model = LinearRegression()

In [8]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
score = model.score(x_test,y_test)
score

0.9802715138055935

In [10]:
pred = model.predict(x_lately)

In [11]:
response = {}
response['pred_set']=pred
response['test_score'] = score
print(response)

{'pred_set': array([2316.87311544, 2308.02549724, 2307.68264622, 2282.08804845,
       2329.88740598]), 'test_score': 0.9802715138055935}